@import url(global.css);
@import url(layout.css);


.header {
      background-color: var(--header-bg-color);
      min-height: 60vh;

      .shop-title {
            font-family: var(--font-family-title);
            font-size: 5rem;
            /* works insted of justify-self (layout.css), on screens < 528 */
            text-align: center;
      }

      .icon-container {
            padding: 1.5em;

            .header-icons {
                  width: 2.2em;
            }
      }
}

.main-content {
      background-color: var(--main-bg-color);
      font-family: var(--font-family-primary);
      padding: 4rem 10rem;
}


/* Content with the smaller posters */
#shop-content {
      color: var(--text-color-light);

      .small-btn {
            padding: var(--sm-btn-padding);
            border-radius: var(--sm-btn-radius);
      }
      /* Featured images - larger */
      .img-container:nth-child(n+10) {
                  background-color: var(--featured-bg-color);
                  color: var(--text-color-dark);

                  .product-card {
                        padding: 1em;
                        
                        button {
                        padding: var(--md-btn-padding);
                        border-radius: var(--md-btn-radius);
                  }
            }
      }
}

/* Featured posters in check out */
.featured-content {
      color: var(--text-color-dark);

      .feat-image {
            background-color: var(--featured-bg-color);
            margin-bottom: 4em;
      }

      .feat-card {
            padding: 1em;
      }

      .cart-page-title {
            color: var(--text-color-light);
            margin-bottom: 1.5em;
      }

      .medium-btn {
            padding: var(--md-btn-padding);
            border-radius: var(--md-btn-radius);
      }

}

/* Content below the larger posters in cart */
.cart-info {
      color: var(--text-color-light);

      .cart-titles {
            font-size: 0.8rem;
            color: rgb(203, 197, 197);
            background-color: var(--list-bg-color);
            padding: 1em;
            margin-bottom: 1em;
      }

      .cart-article li {
            margin-bottom: 1em;
      }

      .cart-totals {
            border-top: 3px solid rgb(82, 81, 81);
            margin-top: 1em;
            padding-top: 1em;
            font-weight: 600;
      }

      .large-btn {
            padding: var(--lg-btn-padding);
            border-radius: var(--lg-btn-radius);
            margin-top: 4em;
      }

}

.footer {
      background-color: var(--footer-bg-color);
      color: var(--text-color-light);
      font-family: var(--font-family-primary);
      min-height: 30vh;
      padding: 2em 1em;

      .adress {
            max-width: 18ch;
      }

      li,
      .adress {
            font-size: 0.8rem;
      }

      .social-links img {
            width: 1.5em;
      }
}

/* Media queries */
@media (max-width: 400px) {
      .footer-title {
            font-size: 1rem;
      }
}