
.header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .ninja-svg {
            align-self: center;
      }

      .icon-container {
            display: flex;
            justify-content: space-between;
      }
}

.main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
}

#shop-content {
      display: flex;
      flex-wrap: wrap;
      gap: 4em;
      justify-content: center;

      .img-container {
            flex: 0 1 20em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 0.7rem;
      }

      button {
            align-self: flex-start;
      }
}

.feat-image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      figure {
            display: flex;
            flex-direction: column;
      }

      button {
            align-self: flex-start;
      }
}

.cart-info {
      display: flex;
      flex-direction: column;

      .cart-products,
      .cart-amounts,
      .cart-prices {
            display: flex;
            flex-direction: column;
      }

      .cart-titles,
      .cart-article,
      .cart-total {
            display: flex;
            justify-content: space-between;
      }

      button {
            align-self: flex-end;
      }
      @media (max-width: 600px) {
            button {
                  align-self: center;
            }
      }
}


.footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 2em;

      .social-links {
            display: flex;
            gap: 1em;
      }
} 