* {
      margin: 0;
      box-sizing: border-box;
}

body {
      background-color: rgb(249, 249, 248);
      font-family: "Montserrat", serif;
      margin: 20px 100px;
}

.page-title {
      font-family: "Lobster", serif;
            font-weight: 400;
            font-size: 5rem;
            color: rgb(196, 17, 17);
}
.title-underline {
      border-bottom: 1px solid rgb(196, 17, 17);
      /* margin: 0 auto; */
      padding: 10px;
}
