*,
*::before,
*::after {
      box-sizing: border-box;
}

* {
      margin: 0;
      padding: 0;
}

:root {
      --nav-bg: rgb(167, 103, 231);
      --section-bg: rgb(97, 186, 230);
      --footer-bg: rgb(167, 241, 167);
}

li {
      list-style: none;
}

.wrapper {
      margin: .5em;
}     

.header {
      min-height: 10vh;
      margin-bottom: .5em;
}

.nav-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      gap: 1em;
}
.nav-item {
      min-height: 7em;
      background-color: var(--nav-bg);
}

.main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 1em;
      margin-bottom: .5em;
}

.section {
      min-height: 10em;
      min-width: 10em;
      background-color: var(--section-bg);
}

@media screen and (min-width: 500px) {
      .section {
            height: 40em;
      }
}

.footer {
      background-color: var(--footer-bg);
      min-height: 7em;
}
