*,
*::before,
*::after {
      box-sizing: border-box;
}

* {
      margin: 0;
      padding: 0;
}

:root {
      --logo-bg: rgb(116, 13, 226);
      --light-bg: rgb(185, 126, 244);
      --dark-bg: rgb(69, 16, 181);
      --btn-bg: rgb(133, 14, 144);
      --footer-bg: rgb(181, 220, 181);
}

.logo {
      background-color: var(--logo-bg);
      height: 10em;
      width: 10em;
      border-radius: 50%;
      margin: 2em auto;
}

main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1em;
}

.main-item {
      flex-basis: 42%;
      min-width: 22em;
      min-height: 8em;
}

.light {
      background-color: var(--light-bg);
}

.dark {
      background-color: var(--dark-bg);
}

.button {
      display: block;
      background-color: var(--btn-bg);
      min-width: 20em;
      min-height: 7em;
      border-radius: 1em;
      border: none;
      margin: 2em auto;
}

footer {
      background-color: var(--footer-bg);
      min-height: 7em;
}

@media screen and (min-width:500px) {
      .logo {
            position: relative;
            right: 27em;
      }
}